
*{
    margin: 0;
    padding: 0;
    display: block;
}

body{
    background-color: transparent;
}

.animation{
    display: absolute;
    height: 100vh;
    width: 100%;
    display: none;
}

#animation1{
    background-color: rgba(0, 255, 255, 0.205);
}
#animation2{
    background-color: rgba(207, 28, 183, 0.281);
}

#eventsPlace{
    /* border: violet 1px dotted; */
    /* background-color: aqua; */
    /* height: 100vh;
    width: 100%; */
}

